.AddProperty {
    color: blueviolet;
    background-color: darkblue;
    padding: 20px;
}
h1 {
    text-decoration: underline;
}
#formbox {
    display: flex;
}
span {
    padding-right: 5px;
}
button {
    align-self: flex-end;
}
.Alert{
    color: grey;
    background-color: red;
}

.Alert.success {
    color: grey;
    background-color: green;
}