.propertyCard {
    border: solid;
    border-color: blueviolet;
    background-color: steelblue;
    margin: 20px;
    min-width: 170px;
    width: 25%
}
#smalligloo {
    height: 100px;
    width: 100px;
}
#title {
    font-size: 150%;
    text-align: right;
}
#picture {
    text-align: center;
}